# Python
__pycache__/
Myenv
# Jupyter Notebook
.ipynb_checkpoints

# IDE
# .vscode/

# Data
data/raw
#DVC Cache
.dvc/cache/
data/processed/processed_MachineLearningRating_v3.csv
data/raw/MachineLearningRating_v3.txt
