# Python
__pycache__/
Myenv
# Jupyter Notebook
.ipynb_checkpoints

# IDE
# .vscode/



# Ignore raw/processed files, but allow DVC tracking files
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc

.dvc/cache/
.dvc/tmp/

data/hypothesis_results/cleaned_dataset.csv
*.csv
